build/
external/
outputs/
IronMan/

cmake-build-release/
cmake-build-debug/

include/_bvh.hpp
include/_camera.hpp
include/_renderer.hpp
include/_triangle.hpp

src/_renderer.cpp

.idea/

final_rendering.png